Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
A = ("Road", ['Path',35.5,250], 55.6, ("Road", ['Path',35.5,250], 55.6))

In [9]:
A

('Road', ['Path', 35.5, 250], 55.6, ('Road', ['Path', 35.5, 250], 55.6))

In [14]:
type(A)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [15]:
var1=''

In [16]:
type(var1)

str

In [17]:
var2='[DS,ML,Python]'

In [18]:
type(var2)

str

In [19]:
var3=['DS','ML','Python']

In [20]:
type(var3)

list

In [21]:
var4=1

In [22]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / : This operator is used to divide two intergers in python.

In [26]:
729/27

27.0

(ii) % : This operator is used to determine the reminder when two intergers are divided in python.

In [27]:
730/27

27.037037037037038

(iii) // : This operator is used to divide two intergers and eliminate the decimal from integer value.

In [28]:
730//27

27

(iv) ** : This operator is used as exponent.

In [29]:
2**5

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [2]:
List_PW = ["Skills",8+9j,5.75,455,False,['Path',35.5,250],("Road", ['Path',35.5,250], 55.6),None,(1,2,3,4),True]
for element in List_PW:
    print(element, type(element))

Skills <class 'str'>
(8+9j) <class 'complex'>
5.75 <class 'float'>
455 <class 'int'>
False <class 'bool'>
['Path', 35.5, 250] <class 'list'>
('Road', ['Path', 35.5, 250], 55.6) <class 'tuple'>
None <class 'NoneType'>
(1, 2, 3, 4) <class 'tuple'>
True <class 'bool'>

In [11]:
len(List_PW)

10

Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [5]:
2**16

65536

In [18]:
A=65536
B=2
count = 0
while A % B == 0:
    A = A // B
    count += 1
print(f"A is divisible by B {count} times.")

A is divisible by B 16 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [21]:
List_PWS=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for element in List_PWS:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [52]:
List_PWS=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
count=0
for int in List_PWS:
    count=count+1
print("No. of Int Type Data in List_PWS:",count)

No. of Int Type Data in List_PWS: 25

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

1) Mutable: > The values can be modified after they are created
            > The changes are made directly to the object in memory without creating a new object
            > Examples:Lists, Dictionaries, and Sets

2) Immutable: > The values cannot be modified once they are created
              > When an immutable object is assigned a new value, a new object is created in memory
              > Examples: Integers, Floats, Booleans, Strings, and Tuples

***Mutable***

In [55]:
List = [1,2,3,4,5]
print(List)

[1, 2, 3, 4, 5]

In [57]:
List.append(6)
print(List)

[1, 2, 3, 4, 5, 6]

In [69]:
List[0]="PWS"

In [64]:
List

['PWS', 2, 3, 4, 5, 6]

***Immutable***

In [65]:
Tuple = ("Road", ['Path',35.5,250], 55.6)

In [66]:
Tuple[2]

55.6

In [67]:
Tuple[2] = 45.55

TypeError: 'tuple' object does not support item assignment

As we can see above, Tuple is immutable - we cannot change any data inside a Tuple.